{% extends "blog/base_employee.html" %}
{% block content %}
<div class="d-flex">
	<a class="ml-2" href="javascript:;" style="text-decoration: none;">
	<input type="hidden">
		<span class="badge badge-light badge-pill ml-auto mt-1 mb-1 thumb_effect" style="background-color: #67ace6; color: white;"
			onmouseover="this.style='background-color: #4d718f; color: white;'"
			onmouseout="this.style='background-color: #67ace6; color: white;'"
			onclick="window.history.back();return false;">
			&#x200B; << Back &#x200B;
		</span>
	</a>
	<a class="ml-auto mb-2 mr-2" href="javascript:;" style="text-decoration: none;">
		<input type="hidden">
		<span class="badge badge-light badge-pill ml-auto mt-1 mb-1 thumb_effect" style="background-color: #adadad; color: white;"
			onmouseover="this.style='background-color: #e6c667; color: white;'"
			onmouseout="this.style='background-color: #adadad; color: white;'"
			onclick="location.reload();">
			&#x200B; &#x21BB; Refresh &#x200B;
		</span>
	</a>
</div>
	<article class="media content-section shadow_effect_only">
	    <div class="media-body">
			<div class="article-metadata d-flex">
				<h5 class="article-title">Task #{{ object.Task_ID }}</h5>
			<div class="ml-auto"><small class="text-muted"><b>{{ object.date_posted|date:"F d, Y" }}</b></small></div>
		</div>
		<table>
			<tr>
				<td width='150px'><b>Job ID:</b></td>
				<td width='150px'><b>Employee ID:</b></td>
			</tr>
			<tr>
				<td>{{ object.Job_ID }}</td>
				<td>{{ object.EmployeeID }}</td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<td width='150px'><b>Start Date:</b></td>
				<td><b>Due Date:</b></td>
			</tr>
			<tr>
				<td>{{ object.TaskStartDate }}</td>
				<td>{{ object.TaskDueDate }}</td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<td width='350px'><b>Detail:</b></td>
			</tr>
			<tr>
				<td>{{ object.TaskDetails }}</td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<td width='150px'><b>Status: </b></td>
				<td><b>Priority:</b></td>
			</tr>
		</table>
		<table>
			<tr>
				<td width='150px'>{{object.Status}}</td>
				<td>{{object.Priority}}</td>
			</tr>
		</table>
		<br>
	</article>
{% endblock content %}